In [3]:
print(int(3.5))
# print(it("3.5"))
print(int(3))
# print(int(6+2j))
print(int("6"))
# print(int("five"))

3
3
6

In [5]:
print(float(3.5))
print(float("3.5"))
print(float(3))
# print(float(3+2j))
print(float("5"))
# print(float("five"))

3.5
3.5
3.0
5.0

In [7]:
a=3
b=2
res = complex(a,b)
print(res)
print(complex(3))
print(complex(True))
print(complex(False))
print(complex(True,True))

(3+2j)
(3+0j)
(1+0j)
0j
(1+1j)

In [8]:
x = "hello learning Python is very easy"
print('h' in x)
print('d' in x)
print('d' not in x)
print('Python' in x)

True
False
True
True

In [10]:
a = 10
b=10
print(id(a))
print(id(b))

135928334631440
135928334631440

In [13]:
import math as m
r = 5
area = m.pi*(r**2)
print("Area is",area)

Area is 78.53981633974483

In [14]:
a=int(input("Enter a value : "))
b=int(input("Enter b value : "))
print(a+b)

Enter a value : 5
Enter b value : 6
11

In [15]:
print("Addition is : ", int(input("Enter a value : "))+int(input("Enter b value : ")))

Enter a value : 5
Enter b value : 8
Addition is :  13

In [17]:
a = eval(input("enter any expression : "))
print(a)

enter any expression : 4+6-45
-35

In [20]:
print("hello \n world")
print("hello \t world")
print("hello" + "world")
print("hello"*3)

# escape sequence operator

hello
 world
hello 	 world
helloworld
hellohellohello

In [22]:
a,b,c = 10,20,30
print(a,b,c)
print(a,b,c,sep = ":")

10 20 30
10:20:30

In [23]:
print("Hello" , end = " ")
print("Kapil" , end = " ")
print("Agrawal" , end = " ")

Hello Kapil Agrawal

In [24]:
a,b,c = 10,20,30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [25]:
name = "Kapil"
salary = 100000
company = "Oracle"
print("Hello {0} your salary is {1} and company is {2}".format(name,salary,company))
print("Hello {x} your salary is {y} and company is {z}".format(x = name, y = salary,z = company))

Hello Kapil your salary is 100000 and company is Oracle
Hello Kapil your salary is 100000 and company is Oracle

In [28]:
# find last digit of a number
a = int(input("Enter a number : "))
print(a%10)

Enter a number : 23456
6

In [1]:
# find sum of 2 digit of a number
a = int(input("Enter a number : "))
n1 = a%10
n2 = a//10
print(n1+n2)

Enter a number : 45
9

In [2]:
# find sum of 3 digit of a number
a = int(input("Enter a number : "))
n1 = a%10
a = a//10
n2 = a%10
a = a//10
n3 = a%10
print(n1+n2+n3)

Enter a number : 133
7

In [3]:
# find sum of 5 digit of a number
a = int(input("Enter a number : "))
n1 = a%10
a = a//10
n2 = a%10
a = a//10
n3 = a%10
a = a//10
n4 = a%10
a = a//10
n5 = a%10
print(n1+n2+n3+n4+n5)

Enter a number : 12345
15

In [9]:
# find the reverse of a 5 digit number
a = int(input("Enter a number : "))
n1 = a%10
a = a//10
n2 = a%10
a = a//10
n3 = a%10
a = a//10
n4 = a%10
a = a//10
n5 = a%10
print(n1,n2,n3,n4,n5)

Enter a number : 12345
5 4 3 2 1

In [10]:
#find the sum of first and last digit of a number
a = int(input("Enter a number : "))
n1 = a//100000000
n2 = a%10
print(n1+n2)

Enter a number : 123456789
10

In [12]:
s = "Kapil"
print(s[0])
print(s[-1])
print(s[0:4])
print(s[:4])
print(s[::])
print(s[2:4])
print(s[::-1])

K
l
Kapi
Kapi
Kapil
pi
lipaK

In [13]:
# accept 5 numbers and find max number
a = int(input("Enter a number : "))
b = int(input("Enter b number : "))
c = int(input("Enter c number : "))
d = int(input("Enter d number : "))
e = int(input("Enter e number : "))
if a>b and a>c and a>d and a>e:
    print(a,"is max")
if b>a and b>c and b>d and b>e:
    print(b,"is max")
if c>a and c>b and c>d and c>e:
    print(c,"is max")
if d>a and d>b and d>c and d>e:
    print(d,"is max")
if e>a and e>b and e>c and e>d:
    print(e,"is max")

Enter a number : 2
Enter b number : 6
Enter c number : 9
Enter d number : 2
Enter e number : 7
9 is max

In [22]:
m1 = int(input("Enter m1 number : "))
m2 = int(input("Enter m2 number : "))
m3 = int(input("Enter m3 number : "))
gender = input("Enter gender : ")
total = m1+m2+m3
percentage = total/3
if percentage>=82 and gender == "female" :
    print("She can take admission.")
elif percentage>=62 and gender == "male" :
    print("He can take admission.")
else:
  print("Can't take admission.")

Enter m1 number : 56
Enter m2 number : 98
Enter m3 number : 45
Enter gender : female
Can't take admission.
Enter m1 number : 56
Enter m2 number : 87
Enter m3 number : 89
Enter gender : male
He can take admission.

In [31]:
# find a year is a century leap year or not
year = int(input("Enter year : "))
if year%100 == 0:
    if year%400 == 0:
        print(" It is a century Leap year")
    else:
        print("Not a century leap year")
elif year%4 == 0:
    print("Leap year")
else:
    print("Not leap year")

Enter year : 2026
Not leap year

In [35]:
cp = int(input("Enter cost price : "))
aus =input("Are you student or not (y/n): ")
if aus == "y" and cp > 500:
  print("Your discpunt is 10%")
  netprice = cp - cp*10/100
elif aus == "y" and cp < 500:
  print("Your discpunt is 5%")
  netprice = cp - cp*5/100
elif aus == "n" and cp > 500:
  print("Your discpunt is 8%")
  netprice = cp - cp*8/100
elif aus == "n" and cp < 500:
  print("Your discpunt is 2%")
  netprice = cp - cp*2/100
print("Net price is : ",netprice)

Enter cost price : 400
Are you student or not (y/n): y
Your discpunt is 5%
Net price is :  380.0

In [43]:
char = input("Enter a character : ")
char = ord(char)
if char >= 65 and char <= 90:
  print("Character is in Uppercase")
elif char >= 97 and char <= 122:
  print("Character is in Lowercase")
elif char >= 48 and char <= 57:
  print("Character is in number")
else:
  print("Character is a special character")

Enter a character : r
Character is in Lowercase

In [ ]:
# if you want to execute a block of statements or no. of statements repeatedly again and again till the condition is satisfied the we use the loop;
# for loop is used when range is given and while loop is used when range is not given

In [52]:
# reverse of a number
a = int(input("Enter a number : "))
rev = 0
while(a>0):
  rev = rev*10+a%10
  a = a//10
print(rev)

Enter a number : 123
321

In [53]:
# count the digit of a number
a = int(input("Enter a number : "))
count = 0
while(a>0):
  count = count+1
  a = a//10
print(count)

Enter a number : 1234
4

In [54]:
# sum of the digits of a number
a = int(input("Enter a number : "))
sum = 0
while(a>0):
  sum = sum+a%10
  a = a//10
print(sum)

Enter a number : 123456
21

In [55]:
# find the factorial of a number
a = int(input("Enter a number : "))
fact = 1
while(a>0):
  fact = fact*a
  a = a-1
print(fact)

Enter a number : 5
120

In [64]:
# multiplication of the digits of a number
a = int(input("Enter a number : "))
mul = 1
while(a>0):
  mul = mul*(a%10)
  a = a//10
print(mul)

Enter a number : 12344
96

In [71]:
# find the number whether it is a armstrong number or not
a = int(input("Enter a number : "))
sum = 0
temp = a
count = 0
while (temp > 0):
  count = count +1
  temp = temp//10
temp1 = a
while (temp1 > 0):
  sum = sum + (temp1%10)**count
  temp1 = temp1//10
if sum == a :
  print("It is a armsrong number")
else:
  print("It is not a armstrong number")

Enter a number : 1634
It is a armsrong number

In [74]:
# find the armstrong number between 1 to 10000
for i in range(1,10001):
  sum = 0
  temp = i
  count = 0
  while (temp > 0):
    count = count +1
    temp = temp//10
  temp1 = i
  while (temp1 > 0):
    sum = sum + (temp1%10)**count
    temp1 = temp1//10
  if sum == i :
    print(sum)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474

In [76]:
# find the number is peterson or not
a = int(input("Enter a number : "))
sum = 0
temp = a
while(a>0):
  fact = 1
  i = 1
  n1 = a%10
  while (i<=n1):
    fact = fact * i
    i = i+1
  sum = sum + fact
  a = a//10
if sum == temp:
  print("It is a peterson number")
else:
  print("It is not a peterson number")

Enter a number : 234
It is not a peterson number

In [84]:
# find the number is tech number or not
a = int(input("Enter a number : "))
temp = a
temp1=a
sum = 0
count = 0
while(a>0):
  count += 1
  a = a//10
print(count)
div = 10**(count//2)
if count % 2 == 0:
  n1 = temp1%div
  print(n1)
  n2 = temp1//div
  print(n2)
  sum = n1+n2

if (sum*sum) == temp:
  print("It is a tech number")
else:
  print("It is not a tech number")

Enter a number : 2025
4
25
20
It is a tech number