In [ ]:
# Execution Controller

In [ ]:
# break statement
for i in range(1,11):
  if i==5:
    break;
  print(i)

1
2
3
4

In [ ]:
# continue statement
for i in range(1,11):
  if i==5:
    continue;
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,11):
  if i==3:
    continue;
  if i==6:
    break;
  print(i,10-i+1)

1 10
2 9
4 7
5 6

In [ ]:
# patterns q1
for i in range(1,5):
  for j in range(1,5):
    print(i,end="")
  print(end="\n")

1111
2222
3333
4444

In [ ]:
# q2
n=1
for i in range(1,5):
  for j in range(1,5):
    print(n,end="\t")
    n+=1
  print(end="\n")

1	2	3	4
5	6	7	8
9	10	11	12
13	14	15	16

In [ ]:
# q3
char = 'A'
for i in range(1,5):
  for j in range(1,5):
    print(char,end="\t")
    char = chr(ord(char)+1)
  print(end="\n")

A	B	C	D
E	F	G	H
I	J	K	L
M	N	O	P

In [ ]:
# q4
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end="")
  print(end="\n")

1
22
333
4444

In [ ]:
# q5
for i in range(1,5):
  for j in range(5,1,-1):
    if j > i:
      print("*",end="")
  print(end="\n")

****
***
**
*

In [ ]:
# q6
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for j in range(5,i,-1):
    print("*",end="")
  print(end="\n")

****
 ***
  **
   *

In [ ]:
# q7
for i in range(1,5):
  for j in range(5,i,-1):
    if j>i:
      print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print(end="\n")

    *
   **
  ***
 ****

In [ ]:
# string handeling
# find and rfind function
s= "Learning Python from Ashish sir is very easy"
print(s.find("Python"))
print(s.find("r"))
print(s.find("Ashish"))
print(s.find("kapil"))
print(s.rfind("r"))

9
3
21
-1
37

In [ ]:
s = "abaaabssbababababbbbabaaaaa"
print(s.count("ab"))
print(s.count("b"))
print(s.count("a"))
print(s.count('a',3,10))

7
11
14
3

In [ ]:
s = "Learning Python from Ashish sir is very easy"
print(s.replace("easy","difficult"))

Learning Python from Ashish sir is very difficult

In [ ]:
# immutable means can't be change in the same memory and mutable is just opposite

In [ ]:
# split function
s = "Learning Python from Ashish sir is very easy"
l = s.split()
print(l)
print(type(l))
for x in l:
  print(x)

['Learning', 'Python', 'from', 'Ashish', 'sir', 'is', 'very', 'easy']
<class 'list'>
Learning
Python
from
Ashish
sir
is
very
easy

In [ ]:
# split functiion
s = "22-02-2022"
l = s.split("-")
print(l)

['22', '02', '2022']

In [ ]:
# join function
l = ["Nagpur", "Delhi", "Mumbai"]
s = " ".join(l)
print(s)

Nagpur Delhi Mumbai

In [ ]:
s='learning Python is very Easy from Ashish sir'
print(s.upper ())
print(s. lower())
print(s. swapcase())
print(s.title())
print(s. capitalize())

LEARNING PYTHON IS VERY EASY FROM ASHISH SIR
learning python is very easy from ashish sir
LEARNING pYTHON IS VERY eASY FROM aSHISH SIR
Learning Python Is Very Easy From Ashish Sir
Learning python is very easy from ashish sir

In [ ]:
s='learning Python is very Easy from Ashish sir'
print(s. startswith( 'learning' ))
print(s. endswith( 'learning' ))
print(s.endswith('sir'))

True
False
True

In [ ]:
print ('Ashish786' .isalnum ())

print('ashish786' .isalpha())
print( 'ashish' .isalpha())

print('ashish' .isdigit())
print('786786' .isdigit())

print('abc' .islower())
print( 'Abc'. islower())
print('abc123' .islower())
print( 'ABC' .isupper())
print( 'Learning python is Easy from Ashish Sir'.istitle())
print( 'Learning Python Is Easy From Ashish Sir'.istitle())
print(' '.isspace())

True
False
True
False
True
True
False
True
True
False
True
True

In [ ]:
mob = input("enter the number : ")
if mob.isdigit():
  if len(mob)==10:
    if mob.startswith('7') or mob.startswith('8') or mob.startswith('9') or mob.startswith('6'):
      print("valid number")
    else:
      print("No. is not starting with 6 or 7 or 8 or 9")
  else:
    print("Number is not of 10 digit")
else:
  print("No. is not a digit")

enter the number : 23456
Number is not of 10 digit

In [ ]:
# reverse a string
s = input("Enter a string : ")
print(s[::-1])
s = input("Enter a string : ")
print("".join(reversed(s)))

Enter a string : kapil
lipak
Enter a string : kapil
lipak

In [ ]:
# reverse a string without using any function
s = input("Enter a string : ")
p = ''
for x in s:
  p = x + p
print(p)

Enter a string : kapil
lipak

In [ ]:
# input : "Learning Python is very Easy from Ashish Sir"
# output : "Sir Ashish from Ashish Easy Very is Python Learning"
s = "Learning Python is very Easy from Ashish Sir"
l = s.split()
p = ''
for x in l:
  p = x + ' ' + p
print(p)

Sir Ashish from Easy very is Python Learning

In [ ]:
# input : "Learning Python is very Easy from Ashish Sir"
# output : "gninraeL nohtyP si yrev ysaE morf hsihsA riS"
s= "Learning Python is very Easy from Ashish Sir"
l = s.split()
p = ''
for x in l:
  p = p + " " + x[::-1]
print(p)

 gninraeL nohtyP si yrev ysaE morf hsihsA riS

In [ ]:
# input: ABCDABBCDABBBCCCDDEEEF
# output: ABCDEF
# unique string
s= "ABDACDABBCDABBBCCCDDEEEF"
x = ''
for i in s:
  if i not in x:
    x = x + i
print(x)

ABDCEF

In [ ]:
# list
list=[]
list. append ("A")
list. append ("B")
list. append ("C")
print(list)

['A', 'B', 'C']

In [ ]:
list=[]
for i in range (101):
  if i%10==0:
    list.append(i)
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# extend function
order1=["Apple", "Mango", "Banana"]
order2=[ "PEPSI", "COKE" , "DEW" ]
order1.extend(order2)
print(order1)

['Apple', 'Mango', 'Banana', 'PEPSI', 'COKE', 'DEW']

In [ ]:
# remove function
n = [10,20,30,10]
n.remove(10)
print(n)

[20, 30, 10]

In [ ]:
# pop function
n = [10,20,30,10]
n.pop()
print(n)

[10, 20, 30]

In [ ]:
# reverse function
n = [10,20,30,10]
n.reverse()
print(n)

[10, 30, 20, 10]

In [ ]:
n1=[10,20,10,30]
n2=[2,42,4,24, 2]
res=n1+n2
print(res)
res = n1 * 3
print(res)

[10, 20, 10, 30, 2, 42, 4, 24, 2]
[10, 20, 10, 30, 10, 20, 10, 30, 10, 20, 10, 30]

In [ ]:
# Nested List
n=[10,20, 30, [23, 56, 23]]
print(n[0])
print(n[2])
print(n[3])
print(n[3][0])

10
30
[23, 56, 23]
23

In [ ]:
n=[[10,20, 30], [40, 50, 60], [70, 80, 90]]
print(n)
for x in n:
  print (x)
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end=" ")
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
10 20 30
40 50 60
70 80 90

In [1]:
sem = int(input("Enter the No. of Semester :- "))
sub = []
for i in range(sem):
  print("Enter the no of subject in ", i + 1, "Semester :- ")
  sb = int(input())
  sub.append(sb)

sma = []
maxMarks = []
for i in range(sem):
  for j in range(sub[i]):
    print("Enter the ", i + 1, " semester ", j + 1,  " subject Marks :- ")
    sm = int(input())
    sma.append(sm)
print(sub)
print(sma)

count = 0
p = 0
for i in range(len(sub)):
  x = sub[i]
  count += x
  maxi = 0
  for j in range(p, count):
    if j < len(sma) and sma[j] > maxi:
      maxi = sma[j]
  p = count
  maxMarks.append(maxi)


for i in range(len(maxMarks)) :
    print("Maximum marks in ", i + 1, " semester :- ", maxMarks[i])

Enter the No. of Semester :- 3
Enter the no of subject in  1 Semester :-
3
Enter the no of subject in  2 Semester :-
3
Enter the no of subject in  3 Semester :-
3
Enter the  1  semester  1  subject Marks :-
89
Enter the  1  semester  2  subject Marks :-
89
Enter the  1  semester  3  subject Marks :-
89
Enter the  2  semester  1  subject Marks :-
09
Enter the  2  semester  2  subject Marks :-
78
Enter the  2  semester  3  subject Marks :-
45
Enter the  3  semester  1  subject Marks :-
67
Enter the  3  semester  2  subject Marks :-
98
Enter the  3  semester  3  subject Marks :-
87
[3, 3, 3]
[89, 89, 89, 9, 78, 45, 67, 98, 87]
Maximum marks in  1  semester :-  89
Maximum marks in  2  semester :-  78
Maximum marks in  3  semester :-  98

In [ ]:
# remove the duplicate numbers from the list
l = [22,56,67,67,45,22]
s = set(l)
print(s)

{56, 67, 45, 22}

In [ ]:
# dictionary
d = {}
d[100] = 'Kapil'
d[200] = 'Ashish'
d[300] = 'Nagpur'
print(d)
print(d[100])
d[200] = 'Agarawl'
print(d)

{100: 'Kapil', 200: 'Ashish', 300: 'Nagpur'}
Kapil
{100: 'Kapil', 200: 'Agarawl', 300: 'Nagpur'}

In [ ]:
rec = {}
n= int(input("Enter the number of students : "))
for i in range (0,n):
  name= input("Enter the name : ")
  marks = int(input("Enter the marks : "))
  rec[name] = marks
for i in rec:
  print(i,"\t",rec[i])

Enter the number of students : 5
Enter the name : kapil
Enter the marks : 90
Enter the name : shubham
Enter the marks : 90
Enter the name : chirag
Enter the marks : 90
Enter the name : akshat
Enter the marks : 78
Enter the name : ruchir
Enter the marks : 89
kapil 	 90
shubham 	 90
chirag 	 90
akshat 	 78
ruchir 	 89

In [ ]:
# get function
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d[100])
print(d.get(100))
print(d.get(400))
print(d.get(400,"Guest"))
print(d.get(100,"Guest" ))

ashish
ashish
None
Guest
ashish

In [ ]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d.keys())
for i in d.keys():
  print(i)

dict_keys([100, 200, 300])
100
200
300

In [ ]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d.values())
for i in d.values():
  print(i)

dict_values(['ashish', 'Prashant', 'sandip'])
ashish
Prashant
sandip

In [ ]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d.keys())
for i,j in d.items():
  print(i,"-->",j)

dict_keys([100, 200, 300])
100 --> ashish
200 --> Prashant
300 --> sandip

In [ ]:
d = {}
sum = 0
n = int(input("Enter the number of elements : "))
for i in range(0,n):
  key = input("Enter the key : ")
  value = int(input("Enter the value : "))
  d[key] = value
print(d)
for j in d.values():
  sum = sum + j
print(sum)

Enter the number of elements : 3
Enter the key : 1
Enter the value : 10
Enter the key : 2
Enter the value : 100
Enter the key : 3
Enter the value : 1000
{'1': 10, '2': 100, '3': 1000}
1110

In [ ]:
n = 4
l = [1,3,2,4]
fl = []
for i in range(len(l)):
  for j in range (i+1,len(l)):
    if(l[j]>l[i]):
      fl.append(l[j])
      break
fl.append(-1)
print(fl)

[3, 4, 4, -1]

In [ ]:
input = "aabbbbeeeeffggg"
output = ""
count = 1
i = 0
while i < len(input):
    x = input[i]
    for j in range(i + 1, len(input)):
        if x == input[j]:
            count += 1
        else:
            break
    output += x + str(count)
    i += count
    count = 1
print(output)

a2b4e4f2g3

In [ ]:
# s1 = "AnAgram"
# s2 = "NaGaRaM"
# s1 = s1.lower()
# s2 = s2.lower()
# count = 0
# for i in s1:
#   for j in s2:
#     if len(s1) == len(s2):
#       if i == j:
#         count += 1
#         break
#     else:
#       print("No")
# if count == len(s1):
#   print("Yes")
# else:
#   print("No")

str1 = "silent"
str2 = "Listen"
l1 = str1.lower()
l2 = str2.lower()

if (len(l1) == len(l2)) and (sorted(l1) == sorted(l2)):
    print("Anagram")
else:
    print("Not Anagram")

Anagram

In [ ]:
# no of operators required to one string to another string
s1 = "ycce"
s2 = "ycsce"