In [11]:
# Day3

In [27]:
# find the missing elements
n= int(input("Enter the number of elements : "))
l = []
for i in range(n):
  ele = int(input("Enter the element : "))
  l.append(ele)
print(l)
l.sort()
print("The missing numbers are : " , end = "")
for i in range(1,len(l)+1):
  if (i==l[i-1]):
    continue
  else:
    print(i,end=" ")
    break

Enter the number of elements : 5
Enter the element : 6
Enter the element : 1
Enter the element : 3
Enter the element : 2
Enter the element : 5
[6, 1, 3, 2, 5]
The missing numbers are : 4

In [28]:
# functions
def add():
    a=int(input("Enter value of a: "))
    b=int(input("Enter value of b: "))
    res=a+b;
    print("Addition is ",res)

add();

Enter value of a: 3
Enter value of b: 6
Addition is  9

In [29]:
# function with parameter
def add(a, b):
    res=a+b;
    print("Addition is ",res)

if __name__ == "__main__":
    a=int(input("Enter value of a: "))
    b=int(input("Enter value of b: "))
    add(a, b);

Enter value of a: 4
Enter value of b: 7
Addition is  11

In [31]:
# function with returning values
def add(a, b):
    res=a+b;
    return res
if __name__ == "__main__":
    a=int(input("Enter value of a: "))
    b=int(input("Enter value of b: "))
    res = add(a, b);
    print("Addition is ",res)

Enter value of a: 4
Enter value of b: 6
Addition is  10

In [33]:
# function with multiple returning values
def add(a, b):
    res1=a+b;
    res2=a-b;
    res3=a*b;
    res4=a/b;
    return res1,res2,res3,res4;
if __name__ == "__main__":
    a=int(input("Enter value of a: "))
    b=int(input("Enter value of b: "))
    r1,r2,r3,r4 = add(a, b);
    print("Addition is ",r1)
    print("Subtraction is ",r2)
    print("Multiplication is ",r3)
    print("Division is ",r4)

Enter value of a: 4
Enter value of b: 6
Addition is  10
Subtraction is  -2
Multiplication is  24
Division is  0.6666666666666666

In [35]:
# variable arguements method
def add(*a):
    for i in a:
      print(i)
add(1,2,3,4)

1
2
3
4

In [39]:
# variable arguements method
def add(*a):
  total = 0
  for i in a:
    total = total + i
  print("The sum is : ",total)
add(1,2,3,4)
add(10,20,4)
add(1,2,3,4,5,6,7,8,9,10)

The sum is :  10
The sum is :  34
The sum is :  55

In [42]:
# factorial using recurssion
n = int(input("Enter the number : "))
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

print("Factorial is : ",fact(n))

Enter the number : 4
Factorial is :  24

In [44]:
# multiply 2 numbers using recursion
def mul(x,y):
  if y==0 or x==0:
    return 0
  elif x==1:
    return y
  elif y==1:
    return x
  else:
    return x+mul(x,y-1)
x = int(input("Enter the first number : "))
y = int(input("Enter the second number : "))
mul(x,y)

Enter the first number : 5
Enter the second number : 6

30

In [47]:
# addition of two number using lemda function
add = lambda x,y : x+y
print("Addition is : ",add(10,20))

Addition is :  30

In [49]:
# find maximum
max =  lambda x,y: x if x>y else y
print("Max = ",max(4,5))

Max =  5

In [59]:
# find intersection in two lists
n1 = [1,2,2,1]
n2 = [2,2]
m = []
for i in n1:
  if i in n2:
    m.append(i)
print(m)

[2, 2]

In [70]:
# n1 = [1,2,3]
# n2 = [2,4,6]
# l = []
# for i in n2:
#   for j in n1:
#     if j in n2:
#       continue
#     else:
#       l.append(j)
# print(l)

[1, 3, 1, 3, 1, 3]

In [89]:
# Array Rotation using another list
k = int(input("Enter the number of steps : "))
n= int(input("Enter the number of elements : "))
l = []
for i in range(n):
  ele = int(input("Enter the element : "))
  l.append(ele)
print(l)
n = []
for i in range(len(l)-k,len(l)):
  n.append(l[i])
for i in range(len(l)-k):
  n.append(l[i])
print(n)

Enter the number of steps : 3
Enter the number of elements : 6
Enter the element : 1
Enter the element : 2
Enter the element : 3
Enter the element : 4
Enter the element : 5
Enter the element : 6
[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

In [90]:
# Array Rotation without using another list
k = int(input("Enter the number of steps : "))
n= int(input("Enter the number of elements : "))
l = []
for i in range(n):
  ele = int(input("Enter the element : "))
  l.append(ele)
print(l)
for i in range(k):
  temp = l[-1]
  for i in range(len(l)-1,-1,-1):
    l[i] = l[i-1]
  l[0] = temp
print(l)

Enter the number of steps : 2
Enter the number of elements : 5
Enter the element : 1
Enter the element : 2
Enter the element : 3
Enter the element : 4
Enter the element : 5
[1, 2, 3, 4, 5]
[4, 5, 1, 2, 3]

In [17]:
l = [-1,2,-3,4,5,-6]
p= []
n = []
for i in l:
  if i<0:
    n.append(i)
  else:
    p.append(i)
print(n)
print(p)

[-1, -3, -6]
[2, 4, 5]

In [30]:
# find the first largest sub array that is contiguous in manner
l = [1,2,3,4,5,7,8,9,10]
n = []
l.sort()
for i in range(len(l)-1):
  if l[i]+1 == l[i+1]:
    n.append(l[i])
  else:
    n.append(l[i])
    break
print(n)

[1, 2, 3, 4, 5]

In [34]:
# find the sum of series
x = int(input("Enter the value of x : "))
n = int(input("Enter the value of n : "))
sum = 1
i = 1
while(i<=n):
  sum = sum + (x**i)/i
  i +=1
print(sum)

Enter the value of x : 3
Enter the value of n : 4
37.75

In [37]:
# find the sum of series
x = int(input("Enter the value of x : "))
n = int(input("Enter the value of n : "))
sum = 1

def fact(i):
  if(i == 0):
    return 1
  else:
    return i*fact(i-1)

i = 1
while(i<=n):
  sum = sum + (x)/fact(i)
  i +=1
print(sum)

Enter the value of x : 4
Enter the value of n : 3
7.666666666666667

In [40]:
# find the first missing positive integer
n = int(input("Enter the number of elements : "))
l = []
for i in range(n):
  ele = int(input("Enter the element : "))
  l.append(ele)
print(l)
l.sort()
for i in range(len(l)):
  if l[i]<0:
    continue
  elif(l[i]+1 == l[i+1]):
    continue
  else:
    print(l[i]+1)
    break

Enter the number of elements : 5
Enter the element : -2
Enter the element : -4
Enter the element : 1
Enter the element : 2
Enter the element : 6
[-2, -4, 1, 2, 6]
3

In [41]:
# find the discount
a,b = map(int,input().split())
if (a>=1 and b<=5000):
    if(b<a):
        print(a-b)
    else:
        print(0)

3000 1000
2000

In [ ]:
# Find the AI can give the difficulty
x = int(input())
if(x>=1 and x<=100):
    if(x<=60):
        print("Yes")
    else:
        print("No")